a {
  text-decoration: none;
  color: #ffffff;
}

.container {
  display: flex;
  justify-content: space-between;
  background-color: #0c2340;
  color: #ffffff;
  padding: 1em 8vw;
}

.container > h1 {
  margin: auto 0;
  font-size: 2rem;
}

.container > a {
  border: 2px solid #ffffff;
  border-radius: 5px;
  padding: 10px 25px;
}

a:hover {
  color: #f15a22;
  border-color: #f15a22;
}

.header-options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4em;
  flex: 1;
}

.btn-dropdown {
  background: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 2rem;
}

.header-options {
  flex: 1;
}

@media (max-width: 1000px) {
  .container > h1 {
    font-size: 1.4rem;
  }
}

@media (max-width: 370px) {
  .container > h1 {
    font-size: 1rem;
  }
}
