body {
  margin: 0;
  font-family: "Inter";
}

.hero {
  max-width: 70%;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

h1 {
  margin: 0;
}

.hero > h1 {
  margin: 0;
  color: #ffffff;
  font-size: 2.2rem;
  line-height: 1.4em;
}

.hero > h2 {
  font-size: 1rem;
  color: #808080;
  line-height: 1.6em;
  margin: 0;
}

.hero > h3 {
  color: #0c2340;
  font-size: 1rem;
  margin: 0;
}

.landing-hero-header {
  background-color: #0c2340;
  width: 100vw;
  max-width: 100%;
  box-sizing: border-box;
  height: 100%;
}

.landing-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  align-items: center;
  justify-items: center;
  height: 100%;
}

.landing-grid img {
  width: 100%;
  height: 100%;
}

.hero-section-white {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  align-items: center;
  justify-content: space-evenly;
  padding: 4em 0em;
  gap: 2em;
}

.hero-white {
  align-items: center;
  max-width: 50%;
  gap: 0.5em;
  text-align: center;
}

.hero-white > h1 {
  color: #081828;
  font-size: 2rem;
}

@media (max-width: 425px) {
  .hero > h1 {
    margin-bottom: 0.5em;
    font-size: 1.3rem;
    text-align: center;
  }

  .hero > h2 {
    font-size: 0.8rem;
    text-align: center;
  }
}

@media (max-width: 1000px) {
  .landing-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .hero {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
  }

  .hero > h1 {
    margin-bottom: 0.5em;
    font-size: 1.8rem;
    text-align: center;
  }

  .hero > h2 {
    font-size: 1rem;
    text-align: center;
  }

  .hero-white {
    max-width: 75%;
  }
}
